.hero {
  &__buttons {
    // border: 1px dashed blue;
    justify-content: center;
    align-items: center;
  }
  &__container {
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    &__buttons {
      justify-content: center;
    }
  }
}
